* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

:root {
    --header-bg: #10375c;
}

/* Common */
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;
    display: inline-block;
    text-align: center;
    min-width: 205px;
    height: var(--height);
    border-radius: 99px;
    background: #2e80ce;
    padding: 0 20px;
    line-height: var(--height);
    font-size: 1.6;
}
.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    margin-top: 18px;
    max-width: 468px;
}
/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    margin-right: 0.6em;
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    background: #fff;
}

.logo__text {
    color: #fff;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navbar */
.header-action__signup {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}
.navbar__list {
    display: flex;
}
.action__login,
.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}

.navbar__link:hover,
.navbar__item--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}
.navbar__item--active::before {
    position: relative;
    left: 19px;
    top: -3px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

/* action btn */
.header-action {
    display: flex;
    align-items: center;
}
.header-action__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-right: 28px;
}
.header-action__signup {
    cursor: pointer;
    border: none;
    min-width: 104px;
    --height: 44px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    padding: 76px 0 110px 0;
}
.hero__content {
    flex-grow: 1;
    margin-right: 113px;
}
.hero__media {
    width: 56%;
}
.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
    margin-bottom: 22px;
}
.hero__desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.16;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero .btn {
    color: #fff;
    margin-right: 38px;
}
.hero__call {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

/* Hero media */

.hero__images {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.hero__img {
    border-radius: 6px;
    width: 330px;
    height: 540px;
    object-fit: cover;
}
.hero__img:first-child {
    position: relative;
    margin-right: -6px;
    z-index: 1;
}
.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.service-heading {
    text-align: center;
    margin-bottom: 70px;
}

.service .section-desc {
    max-width: 468px;
    padding-top: 18px;
    margin: auto;
}
.service {
    padding: 170px 0;
}

.service__images {
    width: 48%;
    margin-right: 130px;
}
.service__list {
    flex-grow: 1;
}
.service-row {
    display: flex;
    align-items: center;
}
/* Service img */
.service__img {
    object-fit: cover;
    border-radius: 12px;
    width: 570px;
    height: 570px;
}

/* Service list */
.service__list {
}

.service-item {
    display: flex;
    padding: 21px 0 20px 22px;
}
.service-item:hover {
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}
.service-item__icon-wrap {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    color: #10375c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 19px;
}
.service-item:hover .service-item__icon-wrap {
    background: #2e80ce;
    color: #fff;
}
.service-item__heading {
    margin-bottom: 8px;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}
.servicer-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service .btn {
    margin-top: 55px;
    color: #fff;
}

/* Work */
.work {
    padding: 100px;
}
.section-heading .work-heading {
    margin-bottom: 18px;
}
.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 44px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}
.work-item:hover {
    border: 16px solid #2e80ce;
    transform: translateY(-16px);
}
.work-item__heading {
    margin-top: 20px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work .section-desc {
    margin-bottom: 70px;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* Feature */
.feature {
    padding: 85px 0;
    margin: 85px 0;
}
.feature-row {
    display: flex;
    align-items: center;
}
.feature__media {
    margin-right: 130px;
    width: 48%;
}
.feature__images {
    position: relative;
    width: 570px;
    height: 491px;
}

.feature__img:first-child {
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 512px;
    height: 370px;
    object-fit: cover;
}
.feature__img:last-child {
    z-index: 1;
    border-radius: 6px;
    position: absolute;
    object-fit: cover;
    width: 332px;
    height: 370px;
    right: 0;
    bottom: 0;
}

.feature__content {
    width: 52%;
}

.feature .section-desc {
    margin-bottom: 38px;
}

.feature .btn {
    color: #fff;
}

/* Member */

.member {
    padding: 85px 0;
}
.member-top {
    text-align: center;
}
.member__list {
    display: grid;
    margin-top: 70px;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.member .btn {
    margin-top: 38px;
    color: #fff;
}
.member-item {
    text-align: center;
}
.member-item__img-bg {
    border-radius: 6px;
    background: #eaf6ff;
    padding-top: 28px;
    overflow: hidden;
}

.member-item__name {
    color: #10375c;
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.member-item__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}
.member-item__img {
    display: block;
    object-fit: cover;
    height: 290px;
}

.member__control {
    margin-top: 38px;
    display: flex;
    column-gap: 18px;
    justify-content: center;
}

.member__control-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    background: #FFF;
    display:flex;
    align-items: center;
    justify-content: center;
    color #575f86;
    transition: 0.20s;
    cursor: pointer;
}

.member__control-btn:hover{
    background-color: #2E80CE;
    border-color: #2e80ce;
    color: #fff;
}

.member__control-icon-next{
    rotate: 180deg;
}